{% include 'sidebar.html' %}
{% load static %}
<div id="main" style="margin-left: 20%;">
    <div class="typeContainer">
        <h1 class="title">Les enregistrements DNS:</h1>

        {% if enregistrements %}
            <table class="containerTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>acceder</th>
                </tr>
                </thead>
                <tbody>
                {% for dns in enregistrements %}
                    <tr>
                        <td>{{ dns.id }}</td>
                        <td>{{ dns.name }}</td>
                        <td >
                            <form class="formtab" method="POST" >
                                {% csrf_token %}
                                {% if dns.name != ""  %}
                                    <a href="http://{{ dns.name }}.dockeronline.ovh" target="_blank" class="go">acceder</a>
                                {% else %}
                                    <a href="http://dockeronline.ovh" target="_blank" class="go">acceder</a>
                                {% endif %}
                            </form>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No DNS found.</p>
        {% endif %}
    </div>
</div>

</div>