
{% include 'header.html' %}
<main>
    <body >
        <section>
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="acrylic-bg"></div> <!-- Ajoutez ce div -->
        </section>

        <section class="content">
            {% if user.is_authenticated %}

                <p class="TexteAcceuil">Bonjour, <span class="username">{{ user.username }} </span>!</p>
                <p class="TexteAcceuil">Bienvenue sur <span class="dockertexte">DockerOnline</span>, le site de gestion de containers.</p>
                <div class="divbutton">
                    <a class="boutton" href="{% url 'start_container' %}">C'est parti !</a>
                </div>            {% else %}
                <p class="TexteAcceuil">Bienvenue sur <span class="dockertexte">DockerOnline</span>, le site de gestion de containers.</p>
                <p class="TexteAcceuil">Connectez vous pour lancer des containers</p>

                <div class="divbutton">
                    <a class="boutton" href="{% url 'login' %}">Connection</a>
                    <a class="boutton" href="{% url 'register' %}">Enregistrement</a>
                </div>

            {% endif %}

        </section>


    </body>
</main>
