<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <h1>Inscription</h1>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <textarea name="username" placeholder="Nom d'utilisateur"></textarea>
        <input type="password" name="password1" placeholder="mot de passe">
        <input type="password" name="password2" placeholder="confirmer mot de passe">
        <button type="submit">Inscription</button>
    </form>
    <a href="{% url 'login' %}">Connexion</a>
</body>
</html> 