<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Docker Start</title>
</head>
<body>
<h1>Démarrer le conteneur Docker</h1>

<form method="POST" action="{% url 'bouton_start' %}">
    {% csrf_token %}
    <textarea name="container" placeholder="Nom du conteneur"></textarea>
    <textarea name="image" placeholder="url de l'image"></textarea>
    <textarea name="ports_hote" placeholder="port hôte"></textarea>
    <textarea name="ports_rediriger" placeholder="port redirection"></textarea>
    <textarea name="volume" placeholder="volume(vide = pas de volume)"></textarea>
    <textarea name="command" placeholder="commande"></textarea>
    <textarea name="env" placeholder="env"></textarea>
    <textarea name="network" placeholder="network (vide=default)"></textarea>
    
    <button type="submit">Start Container</button>
</form>


<form method="post" enctype="multipart/form-data" action="{% url 'dockerfile' %}">
    {% csrf_token %}
    <input type="file" name="dockerfile"> votre fichier Dockerfile
    <button type="submit">start</button>
</form>

<form method="post" enctype="multipart/form-data" action="{% url 'compose' %}">
    {% csrf_token %}
    <input type="file" name="composefile"> Votre fichier compose.yml
    <button type="submit">Start</button>
</form>


</body>
</html>
